  b l i n k e r = = 1 . 9 . 0 
 
 c e r t i f i = = 2 0 2 6 . 4 . 2 2 
 
 c h a r s e t - n o r m a l i z e r = = 3 . 4 . 7 
 
 c l i c k = = 8 . 3 . 3 
 
 c o l o r a m a = = 0 . 4 . 6 
 
 F l a s k = = 3 . 1 . 3 
 
 i d n a = = 3 . 1 3 
 
 i t s d a n g e r o u s = = 2 . 2 . 0 
 
 J i n j a 2 = = 3 . 1 . 6 
 
 M a r k u p S a f e = = 3 . 0 . 3 
 
 m y s q l - c o n n e c t o r - p y t h o n = = 9 . 6 . 0 
 
 r e q u e s t s = = 2 . 3 3 . 1 
 
 u r l l i b 3 = = 2 . 6 . 3 
 
 W e r k z e u g = = 3 . 1 . 8 
 
 f l a s k - c o r s
 
 