-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: fashion_net
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `brands`
--

DROP TABLE IF EXISTS `brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `brands` (
  `brand_id` int NOT NULL AUTO_INCREMENT,
  `brand_name` varchar(255) NOT NULL,
  PRIMARY KEY (`brand_id`),
  UNIQUE KEY `brand_name` (`brand_name`)
) ENGINE=InnoDB AUTO_INCREMENT=1007 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brands`
--

LOCK TABLES `brands` WRITE;
/*!40000 ALTER TABLE `brands` DISABLE KEYS */;
INSERT INTO `brands` VALUES (1001,'Ethnic'),(1004,'Outfitters'),(1003,'Sapphire'),(1005,'Saya'),(1006,'Zellbury');
/*!40000 ALTER TABLE `brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `customer_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `customer_id` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3020 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ethnic_products`
--

DROP TABLE IF EXISTS `ethnic_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ethnic_products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `product_type` varchar(50) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` int DEFAULT '0',
  `brand_id` int DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  KEY `fk_ethnic_brand_id` (`brand_id`),
  CONSTRAINT `fk_ethnic_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6010 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ethnic_products`
--

LOCK TABLES `ethnic_products` WRITE;
/*!40000 ALTER TABLE `ethnic_products` DISABLE KEYS */;
INSERT INTO `ethnic_products` VALUES (6001,'Classic Daily Fit',NULL,2250.00,0,NULL),(6002,'Co-ord Set',NULL,4500.00,0,NULL),(6004,'Classic Daily Fit','Clothing',2250.00,50,1001),(6005,'Co-ord Set','Clothing',4500.00,20,1001),(6006,'Boutique - Wedding Edition','Clothing',17000.00,10,1001),(6007,'Khussas','Footwear',1700.00,40,1001),(6008,'Sandals','Footwear',3000.00,25,1001),(6009,'Shoes','Footwear',5000.00,30,1001);
/*!40000 ALTER TABLE `ethnic_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_history`
--

DROP TABLE IF EXISTS `order_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_history` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `product_id` int NOT NULL,
  `order_date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`order_id`),
  KEY `customer_id` (`customer_id`),
  KEY `order_history_ibfk_2` (`product_id`),
  CONSTRAINT `order_history_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`) ON DELETE CASCADE,
  CONSTRAINT `order_history_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_history`
--

LOCK TABLES `order_history` WRITE;
/*!40000 ALTER TABLE `order_history` DISABLE KEYS */;
INSERT INTO `order_history` VALUES (50,3003,40001,'2024-11-01 10:00:00'),(51,3002,5001,'2024-11-02 14:30:00'),(54,3005,8001,'2024-11-05 11:20:00'),(71,3002,6001,'2024-11-24 10:30:00'),(72,3003,6002,'2024-11-23 14:45:00'),(73,3004,6009,'2024-11-22 16:00:00'),(74,3005,6004,'2024-11-21 11:20:00'),(75,3006,6005,'2024-11-20 09:15:00'),(77,3013,6007,'2024-11-18 17:30:00'),(78,3014,6008,'2024-11-17 18:10:00');
/*!40000 ALTER TABLE `order_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outfitter_products`
--

DROP TABLE IF EXISTS `outfitter_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outfitter_products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `product_type` varchar(50) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` varchar(50) NOT NULL,
  `brand_id` int DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  KEY `fk_outfitter_brand_id` (`brand_id`),
  CONSTRAINT `fk_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_outfitter_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=40007 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outfitter_products`
--

LOCK TABLES `outfitter_products` WRITE;
/*!40000 ALTER TABLE `outfitter_products` DISABLE KEYS */;
INSERT INTO `outfitter_products` VALUES (40001,'Street Fit','Men',4000.00,'50',1004),(40002,'Relaxed Fit Jeans','Men',1300.00,'30',1004),(40003,'Printed Viscose Shirt','Men',900.00,'100',1004),(40004,'Drip','Women',3000.00,'20',1004),(40005,'Women Jacket','Women',4000.00,'25',1004),(40006,'Jumpsuit','Women',2000.00,'15',1004);
/*!40000 ALTER TABLE `outfitter_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `product_type` varchar(50) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` int DEFAULT '0',
  `description` text,
  `brand_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`product_id`),
  KEY `brand_id` (`brand_id`),
  CONSTRAINT `products_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=40007 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sapphire_products`
--

DROP TABLE IF EXISTS `sapphire_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sapphire_products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `product_type` varchar(50) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` int DEFAULT '0',
  `brand_id` int DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  KEY `fk_sapphire_brand_id` (`brand_id`),
  CONSTRAINT `fk_sapphire_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8008 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sapphire_products`
--

LOCK TABLES `sapphire_products` WRITE;
/*!40000 ALTER TABLE `sapphire_products` DISABLE KEYS */;
INSERT INTO `sapphire_products` VALUES (8001,'Luxe-Formal Wear',NULL,15000.00,0,NULL),(8002,'Luxe-Formal Wear','Clothing',15000.00,10,1003),(8003,'Coat Style','Clothing',25000.00,5,1003),(8004,'Saree','Clothing',11000.00,15,1003),(8005,'Lipstick','Cosmetics',1800.00,50,1003),(8006,'Mascara','Cosmetics',1000.00,60,1003),(8007,'BB Cream','Cosmetics',1200.00,40,1003);
/*!40000 ALTER TABLE `sapphire_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saya_products`
--

DROP TABLE IF EXISTS `saya_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saya_products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `product_type` varchar(50) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` int DEFAULT '0',
  `brand_id` int DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  KEY `fk_saya_brand_id` (`brand_id`),
  CONSTRAINT `fk_saya_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5007 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saya_products`
--

LOCK TABLES `saya_products` WRITE;
/*!40000 ALTER TABLE `saya_products` DISABLE KEYS */;
INSERT INTO `saya_products` VALUES (5001,'Kurta Shalwar','Clothing',5000.00,20,1005),(5002,'Sherwani','Clothing',12000.00,15,1005),(5003,'Shalwar Kameez','Clothing',3000.00,25,1005),(5004,'Antique Jewellery','Accessories',3500.00,30,1005),(5005,'Pearl Bangles','Accessories',1500.00,50,1005),(5006,'Hoops','Accessories',400.00,40,1005);
/*!40000 ALTER TABLE `saya_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zellbury_products`
--

DROP TABLE IF EXISTS `zellbury_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zellbury_products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) NOT NULL,
  `product_type` varchar(50) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `quantity` int DEFAULT '0',
  `brand_id` int DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  KEY `fk_zellbury_brand_id` (`brand_id`),
  CONSTRAINT `fk_zellbury_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7014 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zellbury_products`
--

LOCK TABLES `zellbury_products` WRITE;
/*!40000 ALTER TABLE `zellbury_products` DISABLE KEYS */;
INSERT INTO `zellbury_products` VALUES (7001,'Embroidered Suit',NULL,5000.00,0,NULL),(7002,'Printed Suit',NULL,2300.00,0,NULL),(7010,'Unstitched','Clothing',3500.00,40,NULL),(7011,'Tote Bag','Accessories',2000.00,25,NULL),(7012,'Cross-body Bag','Accessories',2200.00,30,NULL),(7013,'Canvas Bag','Accessories',2600.00,35,NULL);
/*!40000 ALTER TABLE `zellbury_products` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-25 11:11:18
